.beer-stats {
    display: grid;
    grid-gap: .25rem;
    grid-column: 1 / -1;
    justify-items: center;
    margin: 0 2rem 1rem 2rem;
    max-width: calc(8 * 5rem);
    grid-template-columns: repeat(8, 1fr);

    li {
        padding: .5rem;
        transition: .25s opacity;

        &:hover {
            opacity: 1;
        }

        p {
            margin: 0;
            width: 3.5rem;
            height: 3.5rem;
            cursor: default;
            line-height: 1.4;
            font-size: .85rem;
            display: inline-grid;
            background: #181818;
            align-items: center;
            justify-items: center;
            align-content: center;
            border: 1px solid #1b140d;
            box-shadow: .3rem .3rem 0 0 #1b140d;
            text-shadow: 1px 1px 2px #a26737;
        }

        span {
            display: block;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.75);
        }

        abbr {
            cursor: help;
            font-size: .75rem;
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            border-bottom: 1px dotted #a26737;
        }
    }
}

@media screen and (min-width: 48rem) {
    .beer-stats li {
        opacity: .5;
    }

    .beer-detailed-view .beer-stats {
        margin-top: 0.75rem;
        grid-row: 2 / 5;
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
        margin: .75rem 1rem 0 0;
        grid-gap: 1rem 0;
        align-content: start;

        li {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 48rem) {
    .beer-stats {
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(4, 1fr);

        li {
            display: inline-block;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
    .beer-detailed-view .beer-stats {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 64rem) {
    .beer-stats {
        margin-left: 0;
        grid-template-columns: repeat(4, 1fr);
    }
}
