.beer {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 1rem;
    -ms-grid-columns: 60% 1rem 40%;
    margin: 1.5rem 2.5rem;
    background: #a26737;
    border: 1px solid #1b140d;
    box-shadow: 0.75rem 0.75rem 0 0 #1b140d;
}

.beer-detailed-view {
    grid-template-columns: 100%;
    -ms-grid-columns: 100%;
}

.beer > ul,
.beer-recipe > ul {
    padding: 0;
}

.beer-recipe ul {
    padding-bottom: 1rem;
}

.beer-label {
    max-height: 100vh;
    margin: .75em 2em .5em;
}

.beer-detailed-view .beer-label {
    max-height: initial;
}

.beer-label a:hover {
    background: none;
}

.beer-label img {
    border: 1px solid #1b140d;
    transform-origin: top right;
}

.beer-info,
.beer-recipe,
.beer-return-link {
    text-align: left;
    font-size: .875rem;
}

.beer-recipe,
.beer-return-link {
    padding-bottom: 1.5rem;
}

.beer-stats {
    display: grid;
    grid-gap: .25rem;
    grid-column: 1 / -1;
    justify-items: center;
    margin: 0 2rem 1rem 2rem;
    max-width: calc(7 * 5rem);
    grid-template-columns: repeat(7, 1fr);
}

.beer-stats li {
    color: #fff;
    padding: .5rem;
    font-size: .75rem;
    transition: .25s opacity;
}

.beer-stats li:hover {
    opacity: 1;
}

.beer-stats li p {
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    cursor: default;
    line-height: 1.4;
    display: inline-grid;
    background: #181818;
    align-items: center;
    justify-items: center;
    align-content: center;
    border: 1px solid #1b140d;
    box-shadow: .3rem .3rem 0 0 #1b140d;
    text-shadow: 1px 1px 2px #a26737;
}

.beer-stats li span {
    display: block;
}

.beer-stats li abbr {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted #a26737;
}

@media screen and (min-width: 48rem) {
    .beer-detailed-view .beer-content {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .beer-label {
        width: 10rem;
        justify-self: right;
        align-self: start;
        transform-origin: top right;
    }

    .beer-detailed-view .beer-label {
        width: auto;
        justify-self: center;
        margin: 0;
        grid-column: 1 / -1;
    }

    .beer-detailed-view .beer-label img {
        border: 0;
        border-bottom: 1px solid #1b140d;
    }

    .beer-detailed-view ul,
    .beer-detailed-view ol {
        grid-column: 1;
    }

    .beer-stats li {
        opacity: .5;
    }

    .beer-detailed-view .beer-stats {
        margin-top: .75rem;
        grid-row: 2 / 4;
        grid-column: 2;
        grid-template-columns: 1fr;
    }

    .beer-recipe {
        margin-top: 1rem;
    }

    .beer-info li.view-on-untappd,
    .beer-info li.view-on-untappd + li {
        display: inline;
    }

    .beer-info li.view-on-untappd + li::before {
        content: '|';
        margin: 0 .25rem;
    }
}

@media screen and (max-width: 48rem) {
    .beer {
        grid-template-columns: 100%;
        grid-gap: 2rem;
        margin: 1.5rem;
        padding: 0 1.5rem 1.5rem;
    }

    .beer-label {
        max-width: 75vw;
        justify-self: center;
        padding: 0;
        margin: 0;
    }

    .beer-detailed-view .beer-label {
        max-width: initial;
        max-height: initial;
        margin: 0 -1.5rem;
    }

    .beer-detailed-view .beer-label img {
        border: 0;
        border-bottom: 1px solid #1b140d;
    }

    .beer-info,
    .beer-recipe {
        padding: 0;
    }

    .beer-info li:nth-child(2):nth-child(3):nth-child(5):nth-child(6) {
        display: inline-block;
    }

    .beer-info li.view-on-untappd {
        float: right;
    }

    .beer-detailed-view .beer-info li.view-on-untappd {
        float: none;
    }

    .beer-recipe,
    .beer-recipe > li:nth-child(2) {
        margin-top: 1rem;
    }

    .beer-recipe ul, .beer-recipe ol {
        padding: 1rem 1rem;
    }

    .beer-recipe ul {
        padding-bottom: 0;
    }

    .beer-stats {
        display: block;
        margin: 0;
        padding: 0;
    }

    .beer-stats li {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .beer-return-link {
        padding: 1rem 0 1.5rem 0;
    }
}

@media screen and (max-width: 64rem) {
    .beer-stats {
        margin-left: 0;
        grid-template-columns: repeat(4, 1fr);
    }
}
