.beer-ingredients {
    font-size: .9rem;
    display: grid;
    margin: 1.25rem 0 1rem 2.25rem;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.beer-ingredients table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #1b140d;
    box-shadow: .3rem .3rem 0 0 #1b140d;
}

.beer-ingredients thead {
    color: #a26737;
    background: #181818;
}

.beer-ingredients th {
    padding: 1rem 0;
    font-size: .75rem;
    line-height: 0;
    text-transform: uppercase;
}

.beer-ingredients tbody {
    padding: .25rem;
    display: block;
}

.beer-ingredients tbody tr {
    vertical-align: top;
    display: grid;
}

.beer-ingredients .beer-water table {
    background: rgba(66,91,191,.15);
}

.beer-ingredients .beer-fermentables table {
    background: rgba(162,162,55,.15);
}

.beer-ingredients .beer-hops table {
    background: rgba(66,161,55,.15);
}

.beer-ingredients .beer-yeast table {
    background: rgba(162,77,55,.15);
}

.beer-ingredients .beer-additions table {
    background: rgba(24,24,24,.15);
}

.beer-ingredients .beer-water tbody tr {
    grid-template-columns: 1fr 1fr;
}

.beer-ingredients .beer-fermentables tbody tr {
    grid-template-columns: 1fr 2fr;
}

.beer-ingredients .beer-hops tbody tr {
    grid-template-columns: 15% 31% 26% 28%;
}

.beer-ingredients .beer-yeast tbody tr {
    grid-template-columns: 1fr 2fr;
}

.beer-ingredients .beer-additions tbody tr {
    grid-template-columns: 15% 40% 20% 25%;
}

.beer-ingredients .beer-hops tbody tr td:last-child {
    text-align: right;
}

.beer-ingredients tbody td {
    padding: .25rem .5rem;
}

.beer-ingredients tbody td:first-child {
    min-width: 2.25rem;
}

@media screen and (max-width: 48rem) {
    .beer-ingredients {
        margin: 1.25rem 0;
        grid-template-columns: 1fr;
    }

    .beer-ingredients .beer-water tbody tr {
        grid-template-columns: 1fr 2fr;
    }

    .beer-ingredients .beer-hops tbody tr {
        grid-template-columns: 2fr 3fr 3fr 4fr;
    }
}
