.beer {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1rem;
    grid-column: 2;
    margin: 1.5rem 2.5rem;
    background: #916947;
    border: 1px solid #1b140d;
    box-shadow: 0.75rem 0.75rem 0 0 #1b140d;
}

#app article:nth-of-type(1) {
    grid-row: 1;
}

@media screen and (max-width: 48rem) {
    #app article {
        grid-column: 1;
    }

    #app article:nth-of-type(1) {
        grid-row: initial;
    }
}

.beer > ul,
.beer-recipe > ul {
    padding: 0;
}

.beer hr {
    grid-column: span 2;
}

.beer-label {
    max-height: 100vh;
    margin-bottom: 0;
}

.beer-label img {
    border: 1px solid #1b140d;
}

.beer-info,
.beer-recipe {
    text-align: left;
    font-size: .875rem;
    padding-bottom: 1.5rem;
}

.beer-recipe {
    display: none;
}

@media screen and (min-width: 48rem) {
    .beer-label {
        width: 10rem;
        justify-self: right;
        align-self: start;
        transform-origin: top right;
    }
}

@media screen and (max-width: 48rem) {
    .beer {
        grid-template-columns: 100%;
        grid-gap: 2rem;
        margin: 1.5rem;
        padding: 0 1.5rem 1.5rem;
    }

    .beer-label {
        max-width: 75vw;
        justify-self: center;
        padding: 0;
        margin: 0;
    }

    .beer-info,
    .beer-recipe {
        padding: 0;
    }

    .beer-info li:nth-child(2):nth-child(3):nth-child(5):nth-child(6) {
        display: inline-block;
    }

    .beer-info li:nth-child(4) {
        visibility: hidden;
    }

    .beer-info li:nth-child(5) {
        float: right;
    }

    .beer-recipe,
    .beer-recipe > li:nth-child(2) {
        margin-top: 1rem;
    }

    .beer-recipe ul {
        padding: 0;
    }

    .beer-recipe ol {
        padding: 1rem 1rem 0;
    }
}
