@import "beer.css";

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #cbe86b;
}

body {
    background: #f2e9e1 url(assets/background.png) repeat;
}

#app {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;

    @media screen and (max-width: 980px) {
        margin: 1.5rem 0 0;
    }
}

header {
    background: #fff;
    padding: 1.5rem 0;
    margin: 1.5rem;
    border: 1px solid #1c140d;
    box-shadow: .75rem .75rem 0 0 #1c140d;
    align-self: start;
}

.logotype {
    margin: 0 auto;
    width: 50%;

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

h1 {
    font: 1.5rem 'Allerta Stencil';

    @media screen and (max-width: 980px) {
        font-size: 1.75rem;
        margin-top: .5rem;
    }
}

hr {
    margin: 5rem 0;
    border-color: #1c140d;

    @media screen and (max-width: 980px) {
        margin: 2rem 0;
    }
}

a {
    color: #1c140d;
    font-weight: 600;

    &:hover {
        color: #1c140d;
        cursor: pointer;
    }
}

ul {
    list-style: none;
    margin: 0;

    li {
        padding: .1rem 0;
    }
}

img {
    max-width: 100%;
}

footer {
    margin-top: 2.5rem;
    border-top: 1px solid #999;
    background: #cbe86b;
    grid-column: 1 / -1;
    align-self: end;
    text-align: right;
    padding: 1rem 2.5rem;
}

footer a {
    text-transform: uppercase;
    font-weight: 600;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
}

footer li:first-child {
    padding-right: 2rem;
}

footer li:last-child {
    padding-left: 2rem;
}
